# =========================================================
# Godot
# =========================================================

.godot/
*.tmp


# =========================================================
# C / C++ / CMake
# =========================================================

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

*.o
*.obj
*.a
*.so
*.dll
*.exe


# =========================================================
# IDE / Editors
# =========================================================

.vscode/
.idea/

*.swp
*.swo
*~


# =========================================================
# Debug
# =========================================================

*.dSYM/
*.core


# =========================================================
# Project documents
# =========================================================

*Proyecto_Godot_Linux_C_CPP.docx
*.kilo